<div class="container-fluid bg-dark-blue footer text-white w-100">
  <div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight d-flex align-items-stretch">
      <!--      <div class="m-4">-->
      <!--        <h5 class="pb-4">Company</h5>-->
      <!--        <p>About us</p>-->
      <!--        <p>Products</p>-->
      <!--        <p>Blog</p>-->
      <!--        <p>Market</p>-->
      <!--        <p>Statistics</p>-->
      <!--      </div>-->
      <!--      <div class="m-4">-->
      <!--        <h5 class="pb-4">Learn</h5>-->
      <!--        <p>How to buy Bitcoin</p>-->
      <!--        <p>How to buy Ethereum</p>-->
      <!--      </div>-->


      <div class="m-4 w-75">
        <h5 class="pb-4">Desktop Application</h5>
        <div class="d-flex justify-content-center align-items-center w-50 pb-3">
          <div class="w-50">
            <a>
              <img src="./assets/appStore.png" class="w-75">
            </a>
          </div>
          <div class="w-50">
            <a href="https://www.microsoft.com/en-us/p/cragsman/9nz9k3g8qbnt#activetab=pivot:overviewtab"
               target="_blank">
              <img src="./assets/windowsStore.png" class="w-75">
            </a>
          </div>
        </div>
        <p>Secure</p>
        <p>Stable</p>
        <p>Faster</p>
      </div>


    </div>
    <div class="p-2 bd-highlight fs-1">
      <img src="assets/icons/logo.svg" class="pb-4">
      <p>We want to stay in touch with you!
        <br>
        Please follow us on social media
        <br>
        so we can keep in touch.
        <br>
      </p>
      <div class="d-flex justify-content-start social-links">
        <a href="https://facebook.com/CragsmanTech/?ref=bookmarks" target="_blank">
          <img src="assets/icons/facebook.svg" class="m-2" alt="facebook">
        </a>
        <a href="https://www.linkedin.com/in/cragsman-tech-inc-cragsman-tech-inc-6917871b8/" target="_blank">
          <img src="assets/icons/linkedin.svg" class="m-2" alt="linkedin">
        </a>
        <a>
          <img src="assets/icons/instagram.svg" class="m-2" alt="instagram">
        </a>
        <a href="https://youtube.com/watch?v=O1z4HsLbkrs" target="_blank">
          <img src="assets/icons/youtube.svg" class="m-2" alt="youtube">
        </a>
        <a href="https://t.me/cragsmanappsupport" target="_blank">
          <img src="assets/icons/telegram.svg" class="m-2 pl-2" alt="telegram">
        </a>
      </div>

      <div class="pt-3">
        <h5 class="pb-1">Contact Us</h5>
        <div class="fs-20 d-flex">
          <a target="_blank">
            <!--            <img src="assets/icons/email.svg" class="m-2" alt="email">-->
            <p>support@cragsmantech.com</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight"><p>{{currentYear}} © All Rights Reserved</p></div>
    <div class="p-2 bd-highlight">
      <a href="/terms-conditions">Terms of Service</a>
    </div>
    <div class="p-2 bd-highlight">
      <a href="/privacy-policy">Privacy Policy</a>
    </div>
  </div>
</div>
