<div class="container-fluid bg-dark-blue footer text-white w-100">
  <div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight d-flex align-items-stretch">
      <div class="m-4">
        <h5 class="pb-4">Company</h5>
        <p>About us</p>
        <p>Products</p>
        <p>Blog</p>
        <p>Market</p>
        <p>Statistics</p>
      </div>
      <div class="m-4">
        <h5 class="pb-4">Learn</h5>
        <p>How to buy Bitcoin</p>
        <p>How to buy Ethereum</p>
      </div>
      <div class="m-4">
        <h5 class="pb-4">Support</h5>
        <p>Help Center</p>
        <p>FAQ</p>
        <p>Contact Us</p>
      </div>
    </div>
    <div class="p-2 bd-highlight">
      <img src="assets/icons/logo.svg" class="pb-4">
      <p>It is a long established fact that a reader will be<br>
        distracted by the readable content of a page when <br>
        looking at its layout. The point of using Lorem Ipsum</p>
      <div class="d-flex justify-content-start">
        <img src="assets/icons/facebook.svg" class="m-2">
        <img src="assets/icons/linkedin.svg" class="m-2">
        <img src="assets/icons/instagram.svg" class="m-2">
        <img src="assets/icons/youtube.svg" class="m-2">
      </div>
    </div>
  </div>
  <hr>
  <div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight"><p>2021 © All Rights Reserved</p></div>
    <div class="p-2 bd-highlight"><p>Terms of Service</p></div>
    <div class="p-2 bd-highlight"><p>Privacy Policy</p></div>
  </div>
</div>
