.footer {
  background-color: #242B34;
  padding: 35px 50px;

  hr {
    color: var(--cgsm-grey);
  }

  h5 {
    font-family: 'PoppinsRegular' !important;
  }

  .social-links {
    img {
      height: 35px;
      cursor: pointer;
    }
  }

  a {
    cursor: pointer;
    font-size: 1.125rem !important; //18px
    font-family: 'PoppinsRegular' !important;
    color: var(--cgsm-white);
  }
}
