.footer {
  //background: var(--cgsm-dark-blue);
  background-color: #242B34;
  opacity: 0.95;
  padding: 35px 50px;

  hr {
    color: var(--cgsm-grey);
  }

  h5 {
    font-family: 'PoppinsRegular' !important;
  }
}
