@import "src/scss/media/home-media";

.hour-volume {
  display: flex;
  background-color: #242B34;

  h1 {
    font-size: 3.125rem !important;
  }

  h5 {
    font-family: 'PoppinsMedium' !important;
  }
}
