<div class="container-fluid hour-volume justify-content-around pt-5 pb-5">
  <div class="pt-3" align="center">
    <h6>24h Volume</h6>
    <h5>${{dailyVolume | number}}</h5>
  </div>
  <div class="pt-3" align="center">
    <h6>24h Trades</h6>
    <h5>${{dailyTrades | number}}</h5>
  </div>
  <div class="pt-3" align="center">
    <h6>30D Volume</h6>
    <h5>${{monthlyVolume | number}}</h5>
  </div>
  <div class="pt-3" align="center">
    <h6>30D Trades</h6>
    <h5>${{monthlyTrades | number}}</h5>
  </div>
</div>
