////NAVBAR
.navbar {
  //  background: var(--cgsm-dark-blue);
  //  padding: 35px 50px;
  //
  img {
    width: 339px;
    height: 56px;
  }

  ul {
    li {
      padding-left: 30px;

      a {
        color: var(--cgsm-white);
        font-size: 1.25rem !important; //20px
        font-family: 'PoppinsRegular' !important;
        opacity: 0.83;
      }

      li:first-child {
        padding-left: 50px;
      }
    }
  }

  .btn-light {
    width: 229px;
    //height: 54px;
  }

  .btn-tr {
    font-size: 1.25rem !important; //20px
    font-family: 'PoppinsMedium' !important;
    border-radius: 50px;
  }
}


@media only screen and (max-width: 1200px) {
  form {
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  ul {
    li {
      padding-left: 0 !important;
    }
  }
  form {
    .mr-3{
      margin-right: 0 !important;
    }
  }
}

//
//@media only screen and (max-width: 768px) {
//  .navbar-dark .navbar-toggler {
//    font-size: xxx-large;
//  }
//}
//
//@media only screen and (max-width: 600px) {
//  .navbar {
//    img {
//      width: 200px;
//    }
//  }
//}
//
//@media only screen and (max-width: 400px) {
//  .navbar {
//    padding: 10px;
//
//    img {
//      width: 200px;
//    }
//
//    .btn-light {
//      padding: 15px !important;
//      margin: 0;
//    }
//  }
//}
