////NAVBAR
/* Importing Home Media file. */
@import "../../../scss/media/navbar-media";

.navbar {
  img {
    width: 339px;
    height: 56px;
  }

  .dark_bg {
    background-color: var(--cgsm-dark-blue) !important;
  }

  .pl-120 {
    padding-left: 120px;
  }

  ul {
    li {
      padding-left: 30px;

      a {
        color: var(--cgsm-white);
        font-size: 1.25rem !important; //20px
        font-family: 'PoppinsRegular' !important;
        opacity: 0.83;
      }

      li:first-child {
        padding-left: 50px;
      }
    }
  }

  .btn-light {
    width: 229px;
  }

  .btn-tr {
    font-size: 1.25rem !important; //20px
    font-family: 'PoppinsMedium' !important;
    border-radius: 50px;
  }

  .btn-success {
    color: var(--cgsm-dark-blue);
    background-color: var(--cgsm-green);
    width: 309px;
    font-size: 1.938rem !important; //31px
    font-family: 'PoppinsMedium' !important;
    border-radius: 50px;

    img {
      width: 43px;
      height: 43px;
    }
  }

}

.navbar-dark .navbar-toggler-icon {
  height: 50px;
  width: 50px;
}
