<nav class="navbar navbar-expand-lg navbar-dark fixed-top" [ngClass]="{'bg-dark-blue': !scrolled}">
  <div class="container-fluid pt-4 pl-120">
    <a class="navbar-brand" href="#">
      <img src="/assets/icons/logo.svg" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 pt-1">
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link active" aria-current="page" href="#">Company</a>-->
        <!--        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="#">Product</a>
        </li>
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link" href="#">Partners</a>-->
        <!--        </li>-->

      </ul>
      <form class="d-flex align-items-center mr-5" *ngIf="scrolled">
        <button type="button" class="btn btn-tr text-green mr-3  pt-3 pb-3" (click)="signin()">Log In</button>
        <button type="button" class="btn btn-light btn-lg pt-3 pb-3" (click)="signup()">Create Account</button>
      </form>
      <form class="d-flex align-items-center mr-5" *ngIf="!scrolled">
        <button type="button" class="btn btn-lg btn-success" (click)="signup()">
          Get Started <img src="assets/icons/get_started.svg" alt="get-started">
        </button>
      </form>
    </div>
  </div>
</nav>
