<div class="container-fluid main bg-dark-blue min-vh-100 p-0 m-0">
  <div class="left-img">
    <img src="assets/icons/triangle.svg" alt="triangle">
  </div>

  <!--  GET STARTED-->
  <div class="container-fluid pt-5 ">
    <div class="get-started ">
      <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 platform pl-140 ">
          <h1 class="pt-5">All in One Platform</h1>
          <h6 class="pt-4 pr-4">It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout</h6>

          <div class="d-flex pt-5 mt-5 align-content-between platform-buttons">
            <div>
              <button type="button" class="btn btn-lg btn-success pt-4 pb-4">
                Get Started <img src="assets/icons/get_started.svg" alt="get-started">
              </button>
            </div>
            <div class="pl-1">
              <button type="button" class="btn btn-tr text-white pt-4 pb-4">
                <img src="assets/icons/play_video.svg" alt="play_video"> Video
              </button>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-5 m-0 chart">
          <img src="assets/icons/chart.svg" class="w-100">
        </div>
      </div>
    </div>
    <div class="exchanges">
      <div class="d-flex justify-content-center w-100">
        <img src="assets/images/bitfinex.png" alt="bitfinex">
        <img src="assets/images/cexio.png" alt="cexio">
        <img src="assets/images/Hitbtc.png" alt="hitbtc">
        <img src="assets/images/huobi.png" alt="huobi">
        <img src="assets/images/zbcom.png" alt="zbcom">
      </div>
      <div class="d-flex justify-content-center w-100 pt-3">
        <img src="assets/images/bithub.png" alt="bithumb">
        <img src="assets/images/coinbase.png" alt="coinbase">
        <img src="assets/images/binnance.png" alt="binance">
        <img src="assets/images/bittrex.png" alt="bittrex">
      </div>
    </div>
  </div>

  <!--EXCHANGES-->
  <div class="exchange-content p-5">
    <div class="d-flex align-items-center justify-content-center pt-5">
      <select class="form-select w-25 text-white text-center" (change)="changeCurrency($event)">
        <option>Choose Currency</option>
        <option *ngFor="let web of currency">{{web.name}}</option>
      </select>
    </div>
    <div class="row exchange-currency pt-5 justify-content-around" *ngFor="let exchanges of exchangesLists">
      <div *ngFor="let ex of exchanges" style="width: 200px;">
        <div class="currency-box text-center align-items-center pl-5 pr-5 mt-5 ml-4 mr-4" [ngClass]="{'bitfinex': ex.exchange === 'bitfinex',
                                                            'binance': ex.exchange === 'binance',
                                                            'cexio': ex.exchange === 'cexio',
                                                            'hitbtc': ex.exchange === 'hitbtc',
                                                            'huobi': ex.exchange === 'huobi'}">
          <div class="currency-logo p-1 m-auto">
            <img [src]="'./assets/images/' + ex.exchange + '_logo.png'" alt="">
          </div>
          <div class="d-flex justify-content-center align-content-between pt-3">
            <div *ngIf="ws.msg?.result">
              <h3>{{(ws.msg.result.asks.prices[ws.msg.result.asks.prices.length - 1]).toFixed(2)}}</h3>
              <h5>{{ws.msg.result.symbol}}</h5>
            </div>
            <div *ngIf="!ws.msg?.result">
              <h3>0.000</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!--CROLL DOWN-->
  <div class="d-flex align-items-center justify-content-center scroll-down pt-5">
    <a class="text-center" (click)="scroll(target)">
      <h6>See more</h6>
      <img src="./assets/icons/chevron-down.svg" alt="down">
    </a>
  </div>

  <!--  FEATURES-->
  <div class="features justify-content-center align-items-center pt-5" #target>
    <div class="text-center pb-4 w-75 m-auto">
      <h2 class="m-0 pb-4">Our Features</h2>
      <p class="text-start m-auto w-50">It is a long established fact that a reader will be distracted by the readable
        content of a page when looking at its layout. The point of using Lorem Ipsum</p>
    </div>

    <div class="exchange-value justify-content-center align-items-center  p-5">
      <div class="d-flex m-4">
        <div class="m-3">
          <img src="assets/icons/eyes.svg">
        </div>
        <div class="m-3">
          <h5>Our Vision</h5>
          <p>It is a long established fact that a reader
            will be distracted by the readable content
            of a page when looking at its layout. The
            point of using Lorem Ipsum</p>
        </div>
      </div>
      <div class="d-flex m-4">
        <div class="m-3">
          <img src="assets/icons/security.svg">
        </div>
        <div class="m-3">
          <h5>Security</h5>
          <p>It is a long established fact that a reader
            will be distracted by the readable content
            of a page when looking at its layout. The
            point of using Lorem Ipsum</p>
        </div>
      </div>
    </div>
    <div class="exchange-value justify-content-center align-items-center p-5">
      <div class="d-flex m-4">
        <div class="m-3">
          <img src="assets/icons/verification.svg">
        </div>
        <div class="m-3">
          <h5>KYC/AML verification</h5>
          <p>It is a long established fact that a reader
            will be distracted by the readable content
            of a page when looking at its layout. The
            point of using Lorem Ipsum</p>
        </div>
      </div>
      <div class="d-flex m-4">
        <div class="m-3">
          <img src="assets/icons/coming_features.svg">
        </div>
        <div class="m-3">
          <h5>Coming Features</h5>
          <p>It is a long established fact that a reader
            will be distracted by the readable content
            of a page when looking at its layout. The
            point of using Lorem Ipsum</p>
        </div>
      </div>
    </div>
  </div>

  <!--  VOLUME-->
  <div class="container-fluid hour-volume justify-content-around pt-5 pb-5">
    <div class="pt-3" align="center">
      <h6>24h Volume</h6>
      <h5>${{(ds.volume?.data?.global["1d_volume"]).toFixed(0)}}</h5>
    </div>
    <div class="pt-3" align="center">
      <h6>24h Trades</h6>
      <h5>${{(ds.volume?.data?.global["1d_trades"]).toFixed(0)}}</h5>
    </div>
    <div class="pt-3" align="center">
      <h6>30D Volume</h6>
      <h5>${{(ds.volume?.data?.global["30d_volume"]).toFixed(0)}}</h5>
    </div>
    <div class="pt-3" align="center">
      <h6>30D Trades</h6>
      <h5>${{(ds.volume?.data?.global["30d_trades"]).toFixed(2)}}</h5>
    </div>
  </div>

  <!--NEWS-->
  <div class="news pt-5 pb-5">
    <div class="text-center pb-4 w-75 m-auto">
      <h2 class="m-0 pb-4">News</h2>
      <p class="text-start w-50 m-auto">It is a long established fact that a reader will be distracted by the readable
        content of a page when looking at its layout. The point of using Lorem Ipsum</p>
    </div>


    <div class="row m-0 p-5">

      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 news-img">
        <img src="assets/images/earth.png" class="pl-2 pr-2 pt-4 pb-4">
      </div>

      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4">
        <h2>Lorem Ipsum is simply dummy text of the printing</h2>
        <h4 class="pt-4">It is a long established fact that a reader will be distracted by the readable content of a
          page when
          looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed</h4>
        <div class="d-flex bd-highlight mt-5">
          <div class="ms-auto p-2 bd-highlight align-bottom">
            <h4 class="text-white">See all Blog <img src="assets/icons/arrow-left.svg"></h4>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>