/* Importing Home Media file. */
@import "../../../scss/media/home-media";

.main {
  .left-img {
    img {
      position: absolute;
      left: -40px;
    }
  }

  .get-started {
    h6 {
      opacity: 0.45;
    }

    .platform {
      margin-top: 15rem;

      .btn {
        font-size: 1.938rem !important; //31px
        font-family: 'PoppinsMedium' !important;
        border-radius: 50px;
      }

      .btn-success {
        color: var(--cgsm-dark-blue);
        background-color: var(--cgsm-green);
        width: 309px;

        img {
          width: 43px;
          height: 43px;
        }
      }

      .btn-tr {
        margin-left: 15px;
        width: max-content;
      }
    }
  }

  .exchanges {
    img {
      margin: 0 15px;
      width: 200px;
      height: 70px;
    }
  }


  .features {

    h5 {
      font-family: 'PoppinsMedium';
    }

    p {
      opacity: 0.67;
    }

    .exchange-value {
      display: flex;
    }
  }



  .news {
    h4, p {
      opacity: 0.66;
    }

    .align-bottom {
      vertical-align: bottom;

    }

    .news-img {
      background-color: #242B34;

      img {
        width: 100%;
      }
    }
  }

}


