<div class="container-fluid main bg-dark-blue w-100 p-0">
  <!--  GET STARTED-->
  <div class="container-fluid">
    <div class="get-started">
      <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 platform pl-5">
          <h1>All in One Platform</h1>
          <h6 class="pt-4">It is a long established fact that a reader will be distracted by <br>
            the readable content of a page when looking at its layout</h6>
          <div class="d-flex pt-5 mt-5 align-content-between">
            <div>
              <button type="button" class="btn btn-lg btn-success">
                Get Started <img src="assets/icons/get_started.svg" alt="get-started">
              </button>
            </div>
            <div class="pl-1">
              <button type="button" class="btn btn-tr text-white">
                <img src="assets/icons/play_video.svg" alt="play_video"> Video
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-xs-12 p-0 m-0">
          <img src="assets/icons/chart.svg" class="w-100 h-100">
        </div>
      </div>
    </div>
    <div class="brands  w-100">
      <div class="d-flex justify-content-center">
        <img src="assets/images/bitfinex.png" alt="bitfinex" height="46" width="299" class="ml-2">
        <img src="assets/images/poloniex.png" alt="poloniex" height="38" width="245" class="mt-2 ml-2">
        <img src="assets/images/cexio.png" alt="cexio" height="43" width="164" class="ml-2 mt-1">
        <img src="assets/images/hitbtc.png" alt="hitbtc" height="74" width="231" class="ml-2 mb-3">
        <img src="assets/images/huobi.png" alt="huobi" height="46" width="154" class="ml-2 mt-1">
        <img src="assets/images/zbcom.png" alt="zbcom" height="70" width="183" class="ml-2 mb-3">
      </div>
      <div class="d-flex justify-content-center">
        <img src="assets/images/bithumb.png" alt="bithumb" height="70" width="278">
        <img src="assets/images/coinbase.png" alt="coinbase" height="90" width="318">
        <img src="assets/images/binance.png" alt="binance" height="70" width="318">
        <img src="assets/images/bittrex.png" alt="bittrex" height="70" width="297">
      </div>
    </div>
  </div>
  <!--COINS-->
  <div class="container-fluid coins pb-5 pt-5">
    <!--    <div class="data-table p-5 ">-->
    <!--      <table mdbTable #tableEl="mdbTable" class="z-depth-1 text-white" id="tableSortExample">-->
    <!--        <thead>-->
    <!--        &lt;!&ndash;        <tr>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <th [mdbTableSort]="ws.data" sortBy="n">Name</th>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <th [mdbTableSort]="ws.data" sortBy="s">Symbol</th>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <th [mdbTableSort]="ws.data" sortBy="p">Price</th>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <th [mdbTableSort]="ws.data" sortBy="p_btc">Price(BTC)</th>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <th [mdbTableSort]="ws.data" sortBy="v">Volume(USD)</th>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <th [mdbTableSort]="ws.data" sortBy="pch">Percent Change (1 Hour)</th>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <th [mdbTableSort]="ws.data" sortBy="pc">Percent Change(24h)</th>&ndash;&gt;-->
    <!--        &lt;!&ndash;        </tr>  &ndash;&gt;-->
    <!--        <tr>-->
    <!--          <th>Name</th>-->
    <!--          <th>Symbol</th>-->
    <!--          <th>Price</th>-->
    <!--          <th>Price(BTC)</th>-->
    <!--          <th>Volume(USD)</th>-->
    <!--          <th>Percent Change (1 Hour)</th>-->
    <!--          <th>Percent Change(24h)</th>-->
    <!--        </tr>-->
    <!--        </thead>-->
    <!--        <tbody>-->
    <!--        <tr *ngFor="let el of ws.data; let i = index">-->
    <!--          <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.n}}</th>-->
    <!--          <td-->
    <!--            *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.s}}</td>-->
    <!--          <td-->
    <!--            *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{numberWithCommas(el.p)}}</td>-->
    <!--          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{(el.p_btc)}}-->
    <!--          </td>-->
    <!--          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.v}}</td>-->
    <!--          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"-->
    <!--              [ngClass]="{'text-success':el.pch > 0,'text-danger':el.pch < 0}">{{el.pch}}</td>-->
    <!--          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.pc}}</td>-->
    <!--        </tr>-->
    <!--        </tbody>-->
    <!--        <tfoot class="grey lighten-5 w-100">-->
    <!--        <tr>-->
    <!--          <td colspan="7">-->
    <!--            <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="ws.data"></mdb-table-pagination>-->
    <!--          </td>-->
    <!--        </tr>-->
    <!--        </tfoot>-->
    <!--      </table>-->
    <!--    </div>-->

    <div class="exchange-table m-5">
      <table class="table text-white">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Exchange</th>
          <th scope="col">24h Volume</th>
          <th scope="col">24h Volume Percent</th>
          <th scope="col">24h Trades</th>
          <th scope="col">24h Trades Percent</th>
          <th scope="col">30D Trades</th>
          <th scope="col">30D Trades Percent</th>
          <th scope="col">30D Volume</th>
          <th scope="col">30D Volume Percent</th>
          <th scope="col">Market Pairs</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of exchangeData.data.exchanges; let i = index" class="text-center">
          <td>{{data.rank}}</td>
          <th><img [src]="data.logo" width="50" height="50"></th>
          <th class="text-start"> {{data.name}}</th>
          <td>${{nFormatter(data['1d_volume'])}}</td>
          <td>{{(data['1d_volume_percent']).toFixed(2)}} %</td>
          <td>{{nFormatter(data['1d_trades'])}}</td>
          <td>{{(data['1d_trades_percent']).toFixed(2)}} %</td>
          <td>{{nFormatter(data['30d_trades'])}}</td>
          <td>{{(data['30d_trades_percent']).toFixed(2)}} %</td>
          <td>${{nFormatter(data['30d_volume'])}}</td>
          <!--          [ngClass]="{'text-success':data['30d_volume_percent'] > 0,'text-danger':data['30d_volume_percent'] < 0}"-->
          <td>{{(data['30d_volume_percent']).toFixed(2)}} %</td>
          <td>{{numberWithCommas(data.num_pairs)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center scroll-down">
    <a class="text-center" (click)="scroll(target)">
      <h6>See more</h6>
      <img src="./assets/icons/chevron-down.svg" alt="down">
    </a>
  </div>

  <!--  FEATURES-->
  <div class="features justify-content-center align-items-center w-100 pt-5 pb-5" #target>
    <div class="text-center pb-4 w-50 m-auto">
      <h2 class="m-0 pb-4">Our Features</h2>
      <p class="text-start ml-5">It is a long established fact that a reader will be distracted by the readable
        content<br>
        of a page when looking at its layout. The point of using Lorem Ipsum</p>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex m-4">
        <div class="m-3">
          <img src="assets/icons/eyes.svg">
        </div>
        <div class="m-3">
          <h5>Our Vision</h5>
          <p>It is a long established fact that a reader<br>
            will be distracted by the readable content<br>
            of a page when looking at its layout. The<br>
            point of using Lorem Ipsum</p>
        </div>
      </div>
      <div class="d-flex m-4">
        <div class="m-3">
          <img src="assets/icons/security.svg">
        </div>
        <div class="m-3">
          <h5>Security</h5>
          <p>It is a long established fact that a reader<br>
            will be distracted by the readable content<br>
            of a page when looking at its layout. The<br>
            point of using Lorem Ipsum</p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex m-4">
        <div class="m-3">
          <img src="assets/icons/verification.svg">
        </div>
        <div class="m-3">
          <h5>KYC/AML verification</h5>
          <p>It is a long established fact that a reader<br>
            will be distracted by the readable content<br>
            of a page when looking at its layout. The<br>
            point of using Lorem Ipsum</p>
        </div>
      </div>
      <div class="d-flex m-4">
        <div class="m-3">
          <img src="assets/icons/coming_features.svg">
        </div>
        <div class="m-3">
          <h5>Coming Features</h5>
          <p>It is a long established fact that a reader<br>
            will be distracted by the readable content<br>
            of a page when looking at its layout. The<br>
            point of using Lorem Ipsum</p>
        </div>
      </div>
    </div>
  </div>

  <!--  VOLUME-->
  <div class="d-flex justify-content-around hour-volume pt-4 pb-4 m-0">
    <div>
      <h6>24h Volume</h6>
      <h5>{{nFormatter(exchangeData.data.global['1d_volume'])}}</h5>
    </div>
    <div>
      <h6>24h Trades</h6>
      <h5>{{nFormatter(exchangeData.data.global['1d_trades'])}}</h5>
    </div>
    <div>
      <h6>30D Volume</h6>
      <h5>{{nFormatter(exchangeData.data.global['30d_volume'])}}</h5>
    </div>
    <div>
      <h6>30D Trades</h6>
      <h5>{{nFormatter(exchangeData.data.global['30d_trades'])}}</h5>
    </div>
  </div>
  <!--NEWS-->
  <div class="news pt-5 pb-5 w-100">
    <div class=" text-center pb-4 w-50 m-auto">
      <h2 class="m-0 pb-4">News</h2>
      <p class="text-start ml-5">It is a long established fact that a reader will be distracted by the readable
        content<br>
        of a page when looking at its layout. The point of using Lorem Ipsum</p>
    </div>
    <div class="d-flex pb-5">
      <div class="w-50 p-5 news-img">
        <img src="assets/images/earth.png" class="w-100">
      </div>
      <div class="w-50 p-5">
        <h2>Lorem Ipsum is simply dummy text of the printing</h2>
        <h4 class="pt-4">It is a long established fact that a reader will be distracted by the readable content of a
          page when
          looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed</h4>
        <div class="d-flex bd-highlight mt-5">
          <div class="ms-auto p-2 bd-highlight align-bottom">
            <h4>See all Blog</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
