@media only screen and (max-width: 1500px) {
  .get-started {
    .platform {
      margin-top: 10rem !important;

      h1 {
        font-size: 3.375rem !important;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .get-started {
    .platform {
      padding-top: 0 !important;
    }

    .chart {
      margin-top: 6rem !important;
    }
  }
  .news {
    h2 {
      font-size: 2rem !important;

    }

    h4 {
      font-size: 1.325rem !important;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .get-started {
    .platform {
      h1 {
        font-size: 2.375rem !important;
      }
    }
  }
  .exchange-currency {
    display: grid !important;
  }
  .news {
    h2 {
      font-size: 1.5rem !important;

    }

    h4 {
      font-size: 1rem !important;
    }
  }
}

@media only screen and (max-width: 960px) {
  .get-started {
    .platform {
      text-align: center !important;

      h1 {
        font-size: 4.375rem !important;

      }

      h6 {
        padding-right: 50px;
      }

      .platform-buttons {
        justify-content: center
      }
    }

    .chart {
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .exchange-value {
    display: grid !important;
  }
  .hour-volume {
    display: grid !important;
  }
}

@media only screen and (max-width: 700px) {
  .get-started {
    .platform {
      h1 {
        font-size: 3.375rem !important;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .get-started {
    .platform {
      h1 {
        font-size: 2.375rem !important;
      }
    }
  }
}

