@media only screen and (max-width: 1750px) {
  .news {
    h4 {
      font-size: 1.6rem !important;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .get-started {
    .platform {
      margin-top: 10rem !important;

      h1 {
        font-size: 3.375rem !important;
      }
    }
  }
  .news {
    h4 {
      font-size: 1.4rem !important;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .get-started {
    .platform {
      padding-top: 0 !important;
    }

    .chart {
      margin-top: 6rem !important;
    }
  }
  .exchange-currency {
    .currency-row {
      padding: 0;
    }
  }
  .news {
    h2 {
      font-size: 2rem;

    }

    h4 {
      font-size: 1rem !important;
    }
  }
  .w-50 {
    width: 80% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .get-started {
    .platform {
      h1 {
        font-size: 2.375rem !important;
      }

      .btn {
        padding: 1rem 0 !important;
      }

      .btn-success {
        .pt-4 {
          padding-top: 1rem
        }
      }
    }
  }
  .exchanges {
    padding-top: 50px !important;

    img {
      width: 150px !important;
      height: 60px !important;
    }
  }
  .news {
    h2 {
      font-size: 1.5rem !important;

    }

    h4 {
      font-size: .8rem !important;
    }
  }
  .w-50 {
    width: 75% !important;
  }
}

@media only screen and (max-width: 960px) {
  .get-started {
    .platform {
      text-align: center !important;

      h1 {
        font-size: 4.375rem !important;

      }

      h6 {
        padding-right: 50px;
        font-size: 1.5rem !important;
      }

      .platform-buttons {
        justify-content: center;

      }
    }

    .chart {
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
  }


}

@media only screen and (max-width: 768px) {
  .features {
    .exchange-value {
      display: grid !important;
      padding: 0 !important;
    }
  }

  .hour-volume {
    display: grid !important;
  }

}

@media only screen and (max-width: 700px) {
  .get-started {
    .platform {
      h1 {
        font-size: 3.375rem !important;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .get-started {
    .platform {
      h1 {
        font-size: 2.375rem !important;
      }
    }
  }
}


@media only screen and (max-width: 375px) {
  .get-started {
    .platform {

    }
  }
  .features {
    .exchange-value {
      .m-4 {
        margin: 0 !important;
      }

    }
    p {
      padding-right: 1rem;

    }
  }
}

