<video id="video" controls autoplay>
  <source src="assets/video/guide.mp4" type="video/mp4">
</video>
<div class="close-player position-absolute" (click)="activeModal.close('Close click')">
  <i class="fas fa-times"></i>
</div>

<!--<youtube-player-->
<!--  [videoId]="modalInfo"-->
<!--  suggestedQuality="highres"-->
<!--  [height]="300"-->
<!--  [width]="600"-->
<!--  [startSeconds]="0"-->
<!--&gt;-->
<!--</youtube-player>-->
<!--<div class="close-player position-absolute" (click)="activeModal.close('Close click')">-->
<!--  <i class="fas fa-times"></i>-->
<!--</div>-->
