.close-player {
  position: absolute;
  top: -20px;
  right: -20px;
  color: white;
  cursor: pointer;
}


video,
iframe {
  width: 100% !important;
  height: auto !important;
  margin-bottom: -8px !important;
  display: flex;
  justify-content: center;
}

//
//youtube-player{
//  display: flex;
//  justify-content: center;
//}
//.close-player{
//  position: absolute;
//  top: -20px;
//  right: -20px;
//  color: white;
//  cursor: pointer;
//}

