<div class="container-fluid block-1 bg-dark-blue pt-5">
  <div class="pl-257 p-5">
    <div class="pt-5">
      <h1>
        Website Terms of Use
      </h1>
      <br>
      Last Modified: October 13, 2021 <br>
      Acceptance of the Terms of Use <br>
      <br>
      These terms of use are entered into by and between You and Cragsman Tech, Inc. ("Company,"
      "we," or "us"). The following terms and conditions, together with any documents they expressly
      incorporate by reference (collectively, "Terms of Use"), govern your access to and use of
      www.cragsmantech.com, including any content, functionality, and services offered on or through
      www.cragsmantech.com (the "Website"), whether as a guest or a registered user, and whether
      the service is cloud-based or via an application downloaded onto your device.
      Please read the Terms of Use carefully before you start to use the Website. By clicking to accept
      or agree to the Terms of Use when this option is made available to you, you accept and
      agree to be bound and abide by these Terms of Use and our Privacy Policy, found at
      https://cragsmantech.com/privacypolicy, incorporated herein by reference. If you do not
      want to agree to these Terms of Use or the Privacy Policy, you must not access or use the
      Website.
      <br>
      This Website is offered and available to users who are 18 years of age or older. By using this
      Website, you represent and warrant that you are of legal age to form a binding contract with the
      Company and meet all of the foregoing eligibility requirements. If you do not meet all of these
      requirements, you must not access or use the Website.
      Changes to the Terms of Use
      We may revise and update these Terms of Use from time to time in our sole discretion. All
      changes are effective immediately when we post them, and apply to all access to and use of the
      Website thereafter.
      Your continued use of the Website following the posting of revised Terms of Use means that you
      accept and agree to the changes. You are expected to check this page frequently so you are aware
      of any changes, as they are binding on you.
      Accessing the Website and Account Security
      We reserve the right to withdraw or amend this Website, and any service or material we provide
      on the Website, in our sole discretion without notice. We will not be liable if for any reason all or
      any part of the Website is unavailable at any time or for any period. From time to time, we may
      restrict access to some parts of the Website, or the entire Website, to users, including registered
      users.
      <br>
      You are responsible for both: <br>
      • Making all arrangements necessary for you to have access to the Website. <br>
      • Ensuring that all persons who access the Website through your internet connection are
      aware of these Terms of Use and comply with them. <br>
      To access the Website or some of the resources it offers, you may be asked to provide certain
      registration details or other information. It is a condition of your use of the Website that all the
      information you provide on the Website is correct, current, and complete. You agree that allinformation you
      provide
      to register with this Website or otherwise, including, but not limited to,
      through the use of any interactive features on the Website, is governed by our Privacy Policy
      https://cragsmantech.com/privacypolicy, and you consent to all actions we take with respect to
      your information consistent with our Privacy Policy.
      <br>
      If you choose, or are provided with, a user name, password, or any other piece of information as
      part of our security procedures, you must treat such information as confidential, and you must
      not disclose it to any other person or entity. You also acknowledge that your account is personal
      to you and agree not to provide any other person with access to this Website or portions of it
      using your user name, password, or other security information. You agree to notify us
      immediately of any unauthorized access to or use of your user name or password or any other
      breach of security. You also agree to ensure that you exit from your account at the end of each
      session. You should use particular caution when accessing your account from a public or shared
      computer so that others are not able to view or record your password or other personal
      information.
      <br>
      We have the right to disable any user name, password, or other identifier, whether chosen by you
      or provided by us, at any time in our sole discretion for any or no reason, including if, in our
      opinion, you have violated any provision of these Terms of Use.
      <br>
      <br>
      <h5>User Data</h5>
      We will maintain certain data that you transmit to the Website for the purpose of managing the
      performance of the Site, as well as data relating to your use of the Website. Although we perform
      regular routine backups of data, you are solely responsible for all data that you transmit or that
      relates to any activity you have undertaken using the Website. You agree that we shall have no
      liability to you for any loss or corruption of any data, and you hereby waive any right of action
      against us arising from any such loss or corruption of such data.
      <br><br>

      <h5>Intellectual Property Rights</h5>
      The Website and its entire contents, features, and functionality (including but not limited to all
      information, software, text, displays, images, video, and audio, and the design, selection, and
      arrangement thereof) are owned by the Company, its licensors, or other providers of such
      material and are protected by United States and international copyright, trademark, patent, trade
      secret, and other intellectual property or proprietary rights laws.<br>
      These Terms of Use permit you to use the Website for your personal, non-commercial use only.<br>
      You must not reproduce, distribute, modify, create derivative works of, publicly display, publicly
      perform, republish, download, store, or transmit any of the material on our Website, except as
      follows:
      <br>
      <br>
      • Your computer may temporarily store copies of such materials in RAM incidental to your
      accessing and viewing those materials.<br>
      • You may store files that are automatically cached by your Web browser for display
      enhancement purposes.<br>
      2• You may print or download one copy of a reasonable number of pages of the Website for
      your own personal, non-commercial use and not for further reproduction, publication, or
      distribution.<br>
      • If we provide desktop, mobile, or other applications for download, you may download a
      single copy to your computer or mobile device solely for your own personal, non-
      commercial use, provided you agree to be bound by our end user license agreement for
      such applications.<br>
      <br>
      <h5>You must not:</h5>
      • Modify copies of any materials from this Website.<br>
      • Use any illustrations, photographs, video or audio sequences, or any graphics separately
      from the accompanying text.<br>
      • Delete or alter any copyright, trademark, or other proprietary rights notices from copies
      of materials from this Website.<br>
      You must not access or use for any commercial purposes any part of the Website or any services
      or materials available through the Website.<br>
      If you print, copy, modify, download, or otherwise use or provide any other person with access
      to any part of the Website in breach of the Terms of Use, your right to use the Website will stop
      immediately and you must, at our option, return or destroy any copies of the materials you have
      made. No right, title, or interest in or to the Website or any content on the Website is transferred
      to you, and all rights not expressly granted are reserved by the Company. Any use of the Website
      not expressly permitted by these Terms of Use is a breach of these Terms of Use and may violate
      copyright, trademark, and other laws.
      <br>
      <br>
      <h5>User Representations</h5>
      By using the Website, you represent and warrant that:<br>
      (1) all registration information you submit will be true, accurate, current, and complete;<br>
      (2) you will maintain the accuracy of such information and promptly update such
      registration information as necessary;<br>
      (3) you have the legal capacity and you agree to comply with these Terms of Use;<br>
      (4) you are not a minor in the jurisdiction in which you reside;<br>
      (5) you will not access the Website through automated or non-human means, whether
      through a bot, script or otherwise;<br>
      (6) you will not use the Website for any illegal or unauthorized purpose; and<br>
      (7) your use of the Website will not violate any applicable law or regulation.<br>
      If you provide any information that is untrue, inaccurate, not current, or incomplete, we have the
      right to suspend or terminate your account and refuse any and all current or future use of the
      Website (or any portion thereof).<br>
      You can use Website for your own individual or commercial purposes, and your subscription is
      provided via non-exclusive, non-transferable, license which is revocable at any time.<br>
      You represent and warrant that You have:<br>
      (1) the necessary technical expertise and ability to review and evaluate the security,
      integrity, and operation of any asset that you decide to acquire or trade;
      (2) the knowledge, experience, understanding, professional advice and information to
      make Your own evaluation of the merits, risks, and consequences of any trades as
      supported by the Website; and<br>
      (3) all details and parameters included in Your automated strategies shall be true and
      accurate. We shall not under any circumstances be liable for any mistakes, errors or
      misrepresentations by You.<br>
      User Registration
      You may be required to register with the Website. You agree to keep your password confidential
      and will be responsible for all use of your account and password. We reserve the right to remove,
      reclaim, or change a username you select if we determine, in our sole discretion, that such
      username is inappropriate, obscene, or otherwise objectionable.<br>
      <br>
      <h5>Fees & Payment</h5>
      We accept the following forms of payment:<br>
      • Credit Card<br>
      • Cryptocurrency<br>
      You may be required to purchase or pay a fee to access some of our services. You agree to
      provide current, complete, and accurate purchase and account information for all purchases made
      via the Website. Further, You agree to promptly update account and payment information (which
      includes, but may not necessarily be limited to: email address, payment method, and payment
      card expiration date) so that we can complete your transactions and contact you as needed. We
      bill you through an online billing account for purchases made via the Website. Please note that
      we may change prices at any time, and sales tax will be added to the price of purchases as
      deemed required by us.<br>
      You agree to pay all charges or fees at the prices then in effect for your purchases, and You
      authorize us to charge your chosen payment provider for any such amounts upon making your
      purchase. If your purchase is subject to recurring charges, then you consent to our charging your
      payment method on a recurring basis without requiring your prior approval for each recurring
      charge, until you notify us of your cancellation.<br>
      The exchanges on which You execute Your orders charge varying commissions and transaction
      fees. The Website is not responsible for any such fees incurred by You and should be considered
      in addition to subscription cost.<br>
      4We reserve the right to correct any errors or mistakes in pricing, even if we have already
      requested or received payment. We also reserve the right to refuse any order placed through the
      Website.
      <br>
      <br>
      <h5>Cancellation</h5>
      All purchases are non-refundable. However, you can cancel your subscription if you contact us at
      least five (5) or more calendar days before the current pay period closes (your cancellation will
      take effect at the end of the current paid period). If you cancel less than five (5) days before close
      of the current pay period, then you cancellation will take effect from the following pay period.<br>
      To cancel your subscription, please contact info@cragsmantech.com.<br>
      If you are unsatisfied with our services, please email us at info@cragsmantech.com.<br>
      <br>

      <h5>
        Trademarks
      </h5>
      The Company name and all related names, logos, product and service names, designs, and
      slogans are trademarks of the Company or its affiliates or licensors. You must not use such
      marks without the prior written permission of the Company. All other names, logos, product and
      service names, designs, and slogans on this Website are the trademarks of their respective
      owners.
      <br>
      <br>
      <h5>Prohibited Uses</h5>
      You may use the Website only for lawful purposes and in accordance with these Terms of Use.
      You agree not to use the Website:<br>
      • In any way that violates any applicable federal, state, local, or international law or
      regulation (including, without limitation, any laws regarding the export of data or
      software to and from the US or other countries).<br>
      • For the purpose of exploiting, harming, or attempting to exploit or harm minors in any
      way by exposing them to inappropriate content, asking for personally identifiable
      information, or otherwise.<br>
      • To transmit, or procure the sending of, any advertising or promotional material, including
      any "junk mail," "chain letter," "spam," or any other similar solicitation.<br>
      • To impersonate or attempt to impersonate the Company, a Company employee, another
      user, or any other person or entity (including, without limitation, by using email
      addresses or screen names associated with any of the foregoing).<br>
      • To engage in any other conduct that restricts or inhibits anyone's use or enjoyment of the
      Website, or which, as determined by us, may harm the Company or users of the Website,
      or expose them to liability.<br>
      5Additionally, you agree not to:
      • Use the Website in any manner that could disable, overburden, damage, or impair the site
      or interfere with any other party's use of the Website, including their ability to engage in
      real time activities through the Website.<br>
      • Use any robot, spider, or other automatic device, process, or means to access the Website
      for any purpose, including monitoring or copying any of the material on the Website.<br>
      • Use any manual process to monitor or copy any of the material on the Website, or for any
      other purpose not expressly authorized in these Terms of Use, without our prior written
      consent.<br>
      • Use any device, software, or routine that interferes with the proper working of the
      Website.<br>
      • Introduce any viruses, Trojan horses, worms, logic bombs, or other material that is
      malicious or technologically harmful.<br>
      • Attempt to gain unauthorized access to, interfere with, damage, or disrupt any parts of the
      Website, the server on which the Website is stored, or any server, computer, or database
      connected to the Website.<br>
      • Attack the Website via a denial-of-service attack or a distributed denial-of-service attack.<br>
      • Otherwise attempt to interfere with the proper working of the Website.
      <br>
      <br>
      <h5> User Contributions</h5>
      The Website may contain message boards, chat rooms, personal web pages or profiles, forums, <br>
      bulletin boards, and other interactive features (collectively, "Interactive Services") that allow
      users to post, submit, publish, display, or transmit to other users or other persons (hereinafter,
      "post") content or materials (collectively, "User Contributions") on or through the Website. <br>
      All User Contributions must comply with the Content Standards set out in these Terms of Use. <br>
      Any User Contribution you post to the site will be considered non-confidential and non-
      proprietary. By providing any User Contribution on the Website, you grant us and our affiliates
      and service providers, and each of their and our respective licensees, successors, and assigns the
      right to use, reproduce, modify, perform, display, distribute, and otherwise disclose to third
      parties any such material for any purpose.
      <br>
      <br>
      <h5>
        You represent and warrant that:
      </h5>
      • You own or control all rights in and to the User Contributions and have the right to grant
      the license granted above to us and our affiliates and service providers, and each of their
      and our respective licensees, successors, and assigns.
      <br>
      • All of your User Contributions do and will comply with these Terms of Use.
      <br>
      You understand and acknowledge that you are responsible for any User Contributions you
      submit or contribute, and you, not the Company, have full responsibility for such content,
      including its legality, reliability, accuracy, and appropriateness.
      <br>
      We are not responsible or liable to any third party for the content or accuracy of any User
      Contributions posted by you or any other user of the Website.
      <br>
      <br>
      <h5>
        Monitoring and Enforcement
      </h5>
      <h6>
        We have the right to:
      </h6>
      • Remove or refuse to post any User Contributions for any or no reason in our sole
      discretion.
      <br>
      • Take any action with respect to any User Contribution that we deem necessary or
      appropriate in our sole discretion, including if we believe that such User Contribution
      violates the Terms of Use, including the Content Standards (see below), infringes any
      intellectual property right or other right of any person or entity, threatens the personal
      safety of users of the Website or the public, or could create liability for the Company.
      <br>
      • Disclose your identity or other information about you to any third party who claims that
      material posted by you violates their rights, including their intellectual property rights or
      their right to privacy.
      <br>
      • Take appropriate legal action, including without limitation, referral to law enforcement,
      for any illegal or unauthorized use of the Website.
      <br>
      • Terminate or suspend your access to all or part of the Website for any or no reason,
      including without limitation, any violation of these Terms of Use.
      <br>
      Without limiting the foregoing, we have the right to cooperate fully with any law enforcement
      authorities or court order requesting or directing us to disclose the identity or other information
      of anyone posting any materials on or through the Website. YOU WAIVE AND HOLD
      HARMLESS THE COMPANY AND ITS AFFILIATES, LICENSEES, AND SERVICE
      PROVIDERS FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY ANY
      OF THE FOREGOING PARTIES DURING, OR TAKEN AS A CONSEQUENCE OF,
      INVESTIGATIONS BY EITHER SUCH PARTIES OR LAW ENFORCEMENT
      AUTHORITIES. <br>
      However, we cannot review all material before it is posted on the Website, and cannot ensure
      prompt removal of objectionable material after it has been posted. Accordingly, we assume no
      liability for any action or inaction regarding transmissions, communications, or content provided
      by any user or third party. We have no liability or responsibility to anyone for performance or
      nonperformance of the activities described in this section.
      <br>
      <br>
      <h5>
        Terms & Termination
      </h5>
      These Terms of Use shall remain in full force and effect while you use the Website.
      WITHOUT LIMITING ANY OTHER PROVISION OF THESE TERMS OF USE, WE
      RESERVE THE RIGHT TO, IN OUR SOLE DISCRETION AND WITHOUT NOTICE OR
      LIABILITY, DENY ACCESS TO AND USE OF THE WEBSITE (INCLUDING BLOCKING
      CERTAIN IP ADDRESSES), TO ANY PERSON FOR ANY REASON OR FOR NO
      7REASON, INCLUDING WITHOUT LIMITATION FOR BREACH OF ANY
      REPRESENTATION, WARRANTY, OR COVENANT CONTAINED IN THESE TERMS OF
      USE OR OF ANY APPLICABLE LAW OR REGULATION. WE MAY TERMINATE YOUR
      USE OR PARTICIPATION IN THE SITE OR DELETE YOUR ACCOUNT AND ANY
      CONTENT OR INFORMATION THAT YOU POSTED AT ANY TIME, WITHOUT
      WARNING, IN OUR SOLE DISCRETION.
      <br>
      If we terminate or suspend your account for any reason, you are prohibited from registering and
      creating a new account under your name, a fake or borrowed name, or the name of any third
      party, even if you may be acting on behalf of the third party. In addition to terminating or
      suspending your account, we reserve the right to take appropriate legal action, including without
      limitation pursuing civil, criminal, and injunctive redress.
      <br>
      <br>
      <h5>Content Standards</h5>
      These content standards apply to any and all User Contributions and use of Interactive Services.
      User Contributions must in their entirety comply with all applicable federal, state, local, and
      international laws and regulations. Without limiting the foregoing, User Contributions must not:<br>
      • Contain any material that is defamatory, obscene, indecent, abusive, offensive, harassing,
      violent, hateful, inflammatory, or otherwise objectionable.<br>
      • Promote sexually explicit or pornographic material, violence, or discrimination based on
      race, sex, religion, nationality, disability, sexual orientation, or age.<br>
      • Infringe any patent, trademark, trade secret, copyright, or other intellectual property or
      other rights of any other person.<br>
      • Violate the legal rights (including the rights of publicity and privacy) of others or contain
      any material that could give rise to any civil or criminal liability under applicable laws or
      regulations or that otherwise may be in conflict with these Terms of Use and our Privacy
      Policy at cragsmantech.com/privacypolicy.<br>
      • Be likely to deceive any person.<br>
      • Promote any illegal activity, or advocate, promote, or assist any unlawful act.
      • Cause annoyance, inconvenience, or needless anxiety or be likely to upset, embarrass,
      alarm, or annoy any other person.<br>
      • Impersonate any person, or misrepresent your identity or affiliation with any person or
      organization.<br>
      • Involve commercial activities or sales, such as contests, sweepstakes, and other sales
      promotions, barter, or advertising.<br>
      • Give the impression that they emanate from or are endorsed by us or any other person or
      entity, if this is not the case.<br>
      <h5>Reliance on Information Posted/Third-Party Websites & Content</h5>
      The information presented on or through the Website is made available solely for general
      information purposes. We do not warrant the accuracy, completeness, or usefulness of this
      8information. Any reliance you place on such information is strictly at your own risk. We
      disclaim all liability and responsibility arising from any reliance placed on such materials by you
      or any other visitor to the Website, or by anyone who may be informed of any of its contents.
      This Website includes content provided by third parties, including but not limited to, materials
      provided by other users, bloggers, and third-party licensors, syndicators, aggregators, and/or
      reporting services. All statements and/or opinions expressed in these materials, and all articles
      and responses to questions and other content, other than the content provided by the Company,
      are solely the opinions and the responsibility of the person or entity providing those materials.
      These materials do not necessarily reflect the opinion of the Company. We are not responsible,
      or liable to you or any third party, for the content or accuracy of any materials provided by any
      third parties.
      <br>
      <br>
      <h5>
        Changes to the Website
      </h5>
      We may update the content on this Website from time to time, but its content is not necessarily
      complete or up-to-date. Any of the material on the Website may be out of date at any given time,
      and we are under no obligation to update such material.<br><br>
      <h5> Information About You and Your Visits to the Website</h5>
      All information we collect on this Website is subject to our Privacy Policy
      cragsmantech.com/privacypolicy. By using the Website, you consent to all actions taken by us
      with respect to your information in compliance with the Privacy Policy.
      <br><br>
      <h5>Third-Party Websites & Content</h5>
      The Website may contain (or you may be sent via the Website) links to other websites ("Third-
      Party Websites") as well as articles, photographs, text, graphics, pictures, designs, music, sound,
      video, information, applications, software, and other content or items belonging to or originating
      from third parties ("Third-Party Content"). Such Third-Party Websites and Third-Party Content
      are not investigated, monitored, or checked for accuracy, appropriateness, or completeness by us,
      and we are not responsible for any Third-Party Websites accessed through the Website or any
      Third-Party Content posted on, available through, or installed from the Website, including the
      content, accuracy, offensiveness, opinions, reliability, privacy practices, or other policies of or
      contained in the Third-Party Websites or the Third-Party Content. Inclusion of, linking to, or
      permitting the use or installation of any Third-Party Websites or any Third-Party Content does
      not imply approval or endorsement thereof by us. If you decide to leave the Website and access
      the Third-Party Websites or to use or install any Third-Party Content, you do so at your own risk,
      and you should be aware these Terms of Use no longer govern. You should review the applicable
      terms and policies, including privacy and data gathering practices, of any website to which you
      navigate from the Site or relating to any applications you use or install from the Site. Any
      purchases you make through Third-Party Websites will be through other websites and from other
      companies, and we take no responsibility whatsoever in relation to such purchases which are
      exclusively between you and the applicable third party. You agree and acknowledge that we do
      9not endorse the products or services offered on Third-Party Websites and you shall hold us
      harmless from any harm caused by your purchase of such products or services. Additionally, you
      shall hold us harmless from any losses sustained by you or harm caused to you relating to or
      resulting in any way from any Third-Party Content or any contact with Third-Party Websites.<br><br>
      <h5>Geographic Restrictions</h5>
      The owner of the Website is based in the State of California in the United States. We make no
      claims that the Website or any of its content is accessible or appropriate outside of the United
      States. Access to the Website may not be legal by certain persons or in certain countries. If you
      access the Website from outside the United States, you do so on your own initiative and are
      responsible for compliance with local laws.<br><br>
      <h5>Site Representations</h5>
      You acknowledge that the Website is not your broker, intermediary, agent, or advisor and has no
      fiduciary obligation to You. The Website explicitly does not (1) give users any personal financial
      advice, nor does it (2) give users any advice on recommended settings for strategies including
      any examples provided for reference. Further, any tutorials, videos, articles, and templates on
      Website are general and in no way contain investment advice. Materials are provided solely as an
      informational resource to help You make your own decisions at Your sole risk.<br>
      The instructions You enter to effect Your trades using the Website will be executed using the
      application programming interface key (“API Key”) of Your exchange accounts that you share
      with Us. You hereby grant Us permission to place orders and trade on Your behalf on the
      exchange using your API Key. We do not guarantee execution via the API Key and do not
      warrant the protection or security of the API Key. We shall not be liable for any losses incurred
      by You in the event an API Key is lost, stolen, misused or malfunctions. We only collect an API
      Key from You for the purpose of placing orders in accordance with Your strategies and
      instructions. In the event You provide an API Key with withdrawal permissions enabled, which
      may cause, upon placing an order, any withdrawal from Your account, We shall not be held
      liable under any circumstances.<br>
      No representation or implication is being made that using the Website will guarantee profits or
      ensure freedom from losses. Simulated performance results have inherent limitations and should
      not be interpreted as a recommendation to buy or sell any assets nor a guarantee of future returns.
      Actual results will vary from analysis of simulation and Site makes no representation or warranty
      regarding future performance.<br>
      It is your responsibility to evaluate trading information and your use of that information is
      entirely at your own risk. Trading digital assets is volatile and You may lose a significant
      portion, or all, of your investment. As such, we encourage you to carefully consider if trading
      digital assets is right for you and consult an experienced investment professional before using the
      Website.<br>
      10In addition to risks associated with Website use in “Modifications and Interruptions” section
      above, factors outside Our control may also result in loss of digital assets, a decrease in or loss of
      all value for the assets, inability to access assets, inability to trade assets, inability to receive
      financial benefits which are available to other asset holders, and other financial losses to You.
      You hereby assume and agree that We will have no responsibility or liability for both Site and
      external risks. You hereby irrevocably waive, release and discharge any and all claims, whether
      known or unknown to You, against Us, its Affiliates and their respective shareholders, members,
      directors, officers, employees, agents and representatives related to any of the risks set forth
      herein.<br><br>
      <h5> Disclaimer of Warranties</h5>
      Thank you for visiting our site. We have set up some ground rules to ensure that we can keep this
      area useful, fun, and safe for everyone. Cragsman Tech, Inc. reserves the right to change these
      guidelines and disclaimers at any time, and you agree that each visit you make to our site shall be
      subject to the current guidelines.<br>
      The information published on this site was valid at the time of publication. Cragsman Tech,
      Inc. reserves the right to make changes and improvements at any time and without notice, and
      assumes no liability for damages incurred directly or indirectly as a result of errors, omissions or
      discrepancies.<br>
      You understand that we cannot and do not guarantee or warrant that files available for
      downloading from the internet or the Website will be free of viruses or other destructive code.
      You are responsible for implementing sufficient procedures and checkpoints to satisfy your
      particular requirements for anti-virus protection and accuracy of data input and output, and for
      maintaining a means external to our site for any reconstruction of any lost data.
      <br><br>TO THE
      FULLEST EXTENT PROVIDED BY LAW, WE WILL NOT BE LIABLE FOR ANY LOSS
      OR DAMAGE CAUSED BY A DISTRIBUTED DENIAL-OF-SERVICE ATTACK, VIRUSES,
      OR OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR
      COMPUTER EQUIPMENT, COMPUTER PROGRAMS, DATA, OR OTHER
      PROPRIETARY MATERIAL DUE TO YOUR USE OF THE WEBSITE OR ANY SERVICES
      OR ITEMS OBTAINED THROUGH THE WEBSITE OR TO YOUR DOWNLOADING OF
      ANY MATERIAL POSTED ON IT, OR ON ANY WEBSITE LINKED TO IT.
      YOUR USE OF THE WEBSITE, ITS CONTENT, AND ANY SERVICES OR ITEMS
      OBTAINED THROUGH THE WEBSITE IS AT YOUR OWN RISK. THE WEBSITE, ITS
      CONTENT, AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE
      ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT ANY
      WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. NEITHER THE
      COMPANY NOR ANY PERSON ASSOCIATED WITH THE COMPANY MAKES ANY
      WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS,
      SECURITY, RELIABILITY, QUALITY, ACCURACY, OR AVAILABILITY OF THE
      WEBSITE. WITHOUT LIMITING THE FOREGOING, NEITHER THE COMPANY NOR
      ANYONE ASSOCIATED WITH THE COMPANY REPRESENTS OR WARRANTS THAT
      THE WEBSITE, ITS CONTENT, OR ANY SERVICES OR ITEMS OBTAINED THROUGH
      11THE WEBSITE WILL BE ACCURATE, RELIABLE, ERROR-FREE, OR
      UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, THAT OUR WEBSITE OR
      THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER
      HARMFUL COMPONENTS, OR THAT THE WEBSITE OR ANY SERVICES OR ITEMS
      OBTAINED THROUGH THE WEBSITE WILL OTHERWISE MEET YOUR NEEDS OR
      EXPECTATIONS.
      TO THE FULLEST EXTENT PROVIDED BY LAW, THE COMPANY HEREBY
      DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED,
      STATUTORY, OR OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY
      WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT, AND FITNESS FOR
      PARTICULAR PURPOSE.
      THE FOREGOING DOES NOT AFFECT ANY WARRANTIES THAT CANNOT BE
      EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
      Limitation on Liability
      TO THE FULLEST EXTENT PROVIDED BY LAW, IN NO EVENT WILL THE COMPANY,
      ITS AFFILIATES, OR THEIR LICENSORS, SERVICE PROVIDERS, EMPLOYEES,
      AGENTS, OFFICERS, OR DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND,
      UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN CONNECTION WITH YOUR
      USE, OR INABILITY TO USE, THE WEBSITE, ANY WEBSITES LINKED TO IT, ANY
      CONTENT ON THE WEBSITE OR SUCH OTHER WEBSITES, INCLUDING ANY DIRECT,
      INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES,
      INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY, PAIN AND SUFFERING,
      EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS
      OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA,
      AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF
      CONTRACT, OR OTHERWISE, EVEN IF FORESEEABLE.
      <br>
      <br>
      The limitation of liability set out above does not apply to liability resulting from our gross
      negligence or willful misconduct. THE FOREGOING DOES NOT AFFECT ANY LIABILITY
      THAT CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.<br><br>
      <h5>Indemnification</h5>
      You agree to defend, indemnify, and hold harmless the Company, its affiliates, licensors, and
      service providers, and its and their respective officers, directors, employees, contractors, agents,
      licensors, suppliers, successors, and assigns from and against any claims, liabilities, damages,
      judgments, awards, losses, costs, expenses, or fees (including reasonable attorneys' fees) arising
      out of or relating to your violation of these Terms of Use or your use of the Website, including,
      but not limited to, your User Contributions, any use of the Website's content, services, and
      products other than as expressly authorized in these Terms of Use, or your use of any
      information obtained from the Website.<br>
      Notwithstanding the foregoing, we reserve the right, at your expense, to assume the exclusive
      defense and control of any matter for which you are required to indemnify us, and you agree to
      cooperate, at your expense, with our defense of such claims. We will use reasonable efforts to
      12notify you of any such claim, action, or proceeding which is subject to this indemnification upon
      becoming aware of it.<br><br>
      <h5>Modifications, Interruptions, & Corrections</h5>
      We reserve the right to change, modify, or remove the contents of the Website at any time or for
      any reason at our sole discretion without notice. However, we have no obligation to update any
      information on our Website. We also reserve the right to modify or discontinue all or part of the
      Website without notice at any time. We will not be liable to you or any third party for any
      modification, price change, suspension, or discontinuance of the Website.
      We cannot guarantee the Website will be available at all times. We may experience hardware,
      software, or other problems or need to perform maintenance related to the Website, resulting in
      interruptions, delays, or errors. We reserve the right to change, revise, update, suspend,
      discontinue, or otherwise modify the Website at any time or for any reason without notice to you.
      You agree that we have no liability whatsoever for any loss, damage, or inconvenience caused by
      your inability to access or use the Website during any downtime or discontinuance of the
      Website. Nothing in these Terms of Use will be construed to obligate us to maintain and support
      the Website or to supply any corrections, updates, or releases in connection therewith.
      Trading digital assets via use of the Website involves significant risks and potential for financial
      losses, including without limitation occurrences in which: (1) We suspend or cease to support
      access to trading any asset or exchange at any time at Our discretion; (2) We suspend or reject
      Your transaction requests, or suspend or terminate Your access to the Website to comply with
      applicable laws or regulations; (3) You are prevented from sending a transaction request, or Your
      transaction request may not be received by Us due to hardware, software or services issues
      (including, without limitation, Internet and other network connectivity issues); (4) Your
      transaction request may be lost, intercepted or altered during transmission; (5) Unauthorized
      third parties may access or use Your account and effect transactions without Your knowledge or
      authorization.<br>
      There may be information on the Website that contains typographical errors, inaccuracies, or
      omissions, including descriptions, pricing, availability, and various other information. As such,
      we reserve the right to correct any errors, inaccuracies, or omissions and to change or update the
      information on the Website at any time, without prior notice.<br><br>
      <h5>Governing Law and Jurisdiction<</h5>
      All matters relating to the Website and these Terms of Use, and any dispute or claim arising
      therefrom or related thereto (in each case, including non-contractual disputes or claims), shall be
      governed by and construed in accordance with the internal laws of the State of California without
      giving effect to any choice or conflict of law provision or rule (whether of the State of California
      or any other jurisdiction).<br>
      13.Any legal suit, action, or proceeding arising out of, or related to, these Terms of Use or the
      Website shall be instituted exclusively in the federal courts of the United States or the courts of
      the State of California, in each case located in the City of Los Angeles and County of Los
      Angeles, although we retain the right to bring any suit, action, or proceeding against you for
      breach of these Terms of Use in your country of residence or any other relevant country. You
      waive any and all objections to the exercise of jurisdiction over you by such courts and to venue
      in such courts<br>
      <h5>Dispute Resolution/Arbitration</h5>
      At Company's sole discretion, it may require You to submit any disputes arising from these
      Terms of Use or use of the Website, including disputes arising from or concerning their
      interpretation, violation, invalidity, non-performance, or termination, to final and binding
      arbitration under the Rules of Arbitration of the American Arbitration Association.<br><br>
      <h5> Binding Arbitration</h5>
      If the Parties are unable to resolve a Dispute through informal negotiations, the Dispute (except
      those Disputes expressly excluded below) will be finally and exclusively resolved by binding
      arbitration. YOU UNDERSTAND THAT WITHOUT THIS PROVISION, YOU WOULD
      HAVE THE RIGHT TO SUE IN COURT AND HAVE A JURY TRIAL. The arbitration shall
      be commenced and conducted under the Commercial Arbitration Rules of the American
      Arbitration Association ("AAA") and, where appropriate, the AAA's Supplementary Procedures
      for Consumer Related Disputes ("AAA Consumer Rules"), both of which are available at the
      AAA website www.adr.org. Your arbitration fees and your share of arbitrator compensation shall
      be governed by the AAA Consumer Rules and, where appropriate, limited by the AAA
      Consumer Rules. The arbitration may be conducted in person, through the submission of
      documents, by phone, or online. The arbitrator will make a decision in writing, but need not
      provide a statement of reasons unless requested by either Party. The arbitrator must follow
      applicable law, and any award may be challenged if the arbitrator fails to do so. Except where
      otherwise required by the applicable AAA rules or applicable law, the arbitration will take place
      in Los Angeles County, California. Except as otherwise provided herein, the Parties may litigate
      in court to compel arbitration, stay proceedings pending arbitration, or to confirm, modify,
      vacate, or enter judgment on the award entered by the arbitrator.<br>
      If for any reason, a Dispute proceeds in court rather than arbitration, the Dispute shall be
      commenced or prosecuted in the state and federal courts located in Los Angeles County,
      California and the Parties hereby consent to, and waive all defenses of lack of personal
      jurisdiction, and forum non conveniens with respect to venue and jurisdiction in such state and
      federal courts. Application of the United Nations Convention on Contracts for the International
      Sale of Goods and the Uniform Computer Information Transaction Act (UCITA) are excluded
      from these Terms of Use.<br>
      In no event shall any Dispute brought by either Party related in any way to the Website be
      commenced more than one (1) year after the cause of action arose. If this provision is found to be
      illegal or unenforceable, then neither Party will elect to arbitrate any Dispute falling within that
      14portion of this provision found to be illegal or unenforceable and such Dispute shall be decided
      by a court of competent jurisdiction within the courts listed for jurisdiction above, and the Parties
      agree to submit to the personal jurisdiction of that court.<br><br>
      <h5>Restrictions</h5>
      The Parties agree that any arbitration shall be limited to the Dispute between the Parties
      individually. To the full extent permitted by law, (a) no arbitration shall be joined with any other
      proceeding; (b) there is no right or authority for any Dispute to be arbitrated on a class-action
      basis or to utilize class action procedures; and (c) there is no right or authority for any Dispute to
      be brought in a purported representative capacity on behalf of the general public or any other
      persons.<br><br>
      <h5>Exceptions to Arbitration</h5>
      The Parties agree that the following Disputes are not subject to the above provisions concerning
      binding arbitration: (a) any Disputes seeking to enforce or protect, or concerning the validity of,
      any of the intellectual property rights of a Party; (b) any Dispute related to, or arising from,
      allegations of theft, piracy, invasion of privacy, or unauthorized use; and (c) any claim for
      injunctive relief. If this provision is found to be illegal or unenforceable, then neither Party will
      elect to arbitrate any Dispute falling within that portion of this provision found to be illegal or
      unenforceable and such Dispute shall be decided by a court of competent jurisdiction within the
      courts listed for jurisdiction above, and the Parties agree to submit to the personal jurisdiction of
      that court.<br><br>
      <h5>Electronic Communications, Transactions, and Signatures</h5>
      Visiting the Website, sending us emails, and completing online forms constitute electronic
      communications. You consent to receive electronic communications, and you agree that all
      agreements, notices, disclosures, and other communications we provide to you electronically, via
      email and on the Website, satisfy any legal requirement that such communication be in writing.
      YOU HEREBY AGREE TO THE USE OF ELECTRONIC SIGNATURES, CONTRACTS,
      ORDERS, AND OTHER RECORDS, AND TO ELECTRONIC DELIVERY OF NOTICES,
      POLICIES, AND RECORDS OF TRANSACTIONS INITIATED OR COMPLETED BY US
      OR VIA THE WEBSITE. You hereby waive any rights or requirements under any statutes,
      regulations, rules, ordinances, or other laws in any jurisdiction which require an original
      signature or delivery or retention of non-electronic records, or to payments or the granting of
      credits by any means other than electronic means.<br><br>
      <h5>Waiver and Severability</h5>
      No waiver by the Company of any term or condition set out in these Terms of Use shall be
      deemed a further or continuing waiver of such term or condition or a waiver of any other term or
      condition, and any failure of the Company to assert a right or provision under these Terms of Use
      shall not constitute a waiver of such right or provision.<br>
      15If any provision of these Terms of Use is held by a court or other tribunal of competent
      jurisdiction to be invalid, illegal, or unenforceable for any reason, such provision shall be
      eliminated or limited to the minimum extent such that the remaining provisions of the Terms of
      Use will continue in full force and effect.<br><br>
      <h5>Entire Agreement</h5>
      The Terms of Use and our Privacy Policy constitute the sole and entire agreement between you
      and Cragsman Tech, Inc. regarding the Website and supersede all prior and contemporaneous
      understandings, agreements, representations, and warranties, both written and oral, regarding the
      Website.<br><br>
      <h5>Your Comments and Concerns</h5>
      This website is operated by Cragsman Tech, Inc.<br>
      All feedback, comments, requests for technical support, and other communications relating to the
      Website should be directed to: info@cragsmantech.com.
      <br><br>


    </div>
  </div>
</div>
