<!--<div class="container-fluid block-1 bg-dark-blue">-->

<!--  <div class="row">-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <h1>Privacy Policy</h1>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <p>-->
<!--        Co<sub>2</sub>efficient Ltd (ABN 52 643 645 461) is committed to the privacy of individuals who visit and-->
<!--        interact with-->
<!--        <a href="http://www.co2efficient.com.au" target="_blank">www.Co2efficient.com.au</a> (“You”), and-->
<!--        follows the privacy policy-->
<!--        outlined below.-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <h6>Personally Identifiable Information</h6>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <p>-->
<!--        Visitors are not asked to provide any personally identifiable information to access the Site. You may be asked-->
<!--        to share your email address to use the CO<sub>2</sub> Calculator, make payments or create an account . In this-->
<!--        event,-->
<!--        Co<sub>2</sub>efficient will store this information securely. We will not share names, addresses or account-->
<!--        history with-->
<!--        any third party other than as required by law. In no case will any sensitive financial information be shared.-->
<!--        Co<sub>2</sub>efficient does not store any credit card details, all payments are made through a secure payment-->
<!--        gateway-->
<!--        compliant with the Payment Card Industry Data Security Standard (PCI DSS) to ensure all credit card information-->
<!--        is securely transmitted, processed and stored.-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <h6>Non-personally identifiable information</h6>-->
<!--    </div>-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <p>-->
<!--        By accessing the Site, certain information such as Internet protocol (IP) addresses, navigation through the-->
<!--        Site, the browser used and the time spent, along with other similar information, will be stored on our servers-->
<!--        and on a third party analytics software. This information is treated confidentially.-->
<!--        The purpose of this data collection is to understand better the preferences of the Site’s visitors and improve-->
<!--        their experience on our pages. This information is never connected with any personal information that visitors-->
<!--        supply to us if they register on our Site.-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <h6>Use of cookies</h6>-->
<!--    </div>-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <p>-->
<!--        A cookie is a piece of data stored on the user's hard drive containing information about the user. Usage of a-->
<!--        cookie is in no way linked to any personally identifiable information while on the Site.-->
<!--        By setting a cookie, Co<sub>2</sub>efficient will remember the You the next time You visit the Site and-->
<!--        therefore the Co<sub>2</sub>efficient will not have to ask questions that the You have already answered.-->
<!--        You are always free to decline our cookies if your browser permits, although in that case You may not be able to-->
<!--        use certain features on the site and may be required to re-enter information more frequently to use certain-->
<!--        services on the Site.-->

<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <h6>Disclosure of personal information</h6>-->
<!--    </div>-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <p>-->
<!--        Co<sub>2</sub>efficient will not share your personally identifiable information with third parties other than as-->
<!--        required by law. We may share data with third parties that describes our audience without personally identifying-->
<!--        individuals (such as location, CO<sub>2</sub> footprint, amount of offsets purchased, etc).-->
<!--        <br>-->
<!--        We may be approached by third parties wishing to provide you with products and services that are targeted to our-->
<!--        audience, in such circumstances:-->
<!--      </p>-->
<!--      <ul>-->
<!--        <li>-->
<!--          We will screen any such products, services and third parties for their alignment with our Mission and Values-->
<!--        </li>-->
<!--        <li>-->
<!--          If we agree their values are aligned with ours we may, from time-to-time contact you with special offerings.-->
<!--          In such cases we will contact you with an introduction making clear the offer is from a third party and what,-->
<!--          if any, benefit co<sub>2</sub>efficient will receive from the promotion or any purchases you may make with the-->
<!--          third-->
<!--          party.-->
<!--        </li>-->
<!--        <li>-->
<!--          Any other sharing of your personal data with another party not described above will only be done so with your-->
<!--          permission.-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <h6>Opting-out</h6>-->
<!--    </div>-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <p>-->
<!--        Where You have provided us with your email address we may make contact with you to share topical information,-->
<!--        updates on the initiatives we support and to report on the achievements we have made. In our communications You-->
<!--        will have the opportunity to stop receiving such communications at any time by clicking the unsubscribe link at-->
<!--        the bottom of the emails.-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <h6>Links to other sites – Disclaimer</h6>-->
<!--    </div>-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <p>-->
<!--        The Site contains hypertext links to other sites. Co<sub>2</sub>efficent assumes no responsibility for those-->
<!--        sites-->
<!--        including the privacy practices or the content of such web sites.-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <h6>Keeping your information secure</h6>-->
<!--    </div>-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <p>-->
<!--        Co<sub>2</sub>efficient will take commercially reasonable steps to protect the personal information we hold from-->
<!--        misuse, interference (including computer attacks) and loss and from unauthorised access, modification or-->
<!--        disclosure.-->
<!--        If we no longer need your information, we will take reasonable steps to destroy or de-identify it unless we are-->
<!--        required to retain it by law (or a court/tribunal order).-->

<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <h6>Notifiable data breaches scheme</h6>-->
<!--    </div>-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <p>-->
<!--        In the event of any unauthorised access or disclosure of your personal information (including where information-->
<!--        is lost in circumstances where unauthorised access or disclosure is likely to occur) that is likely to result in-->
<!--        serious harm to you, we will investigate and notify you and the Office of the Australian Information-->
<!--        Commissioner as soon as practicable, in accordance with the Privacy Act.-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <h6>Resolving Your Privacy Issues</h6>-->
<!--    </div>-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <p>-->
<!--        If you have any questions or complaints about this Privacy Policy or our handling of your personal information,-->
<!--        please contact us. We will oversee the management of any complaint. A member of the Co<sub>2</sub>efficient team-->
<!--        will-->
<!--        contact you within 30 days of receipt of your complaint. After that, if you are not satisfied with our-->
<!--        management of your complaint, you can also contact the Office of the Australian Information Commissioner as-->
<!--        follows:-->
<!--        <br>-->
<!--        <br>-->
<!--        Office of the Australian Information Commissioner:-->
<!--        <br>-->
<!--      </p>-->
<!--      <div class="row m-0">-->
<!--        <div class="col-2 pt-2"><h6>Post:</h6></div>-->
<!--        <div class="col"><p>GPO Box 5218, Sydney<br>NSW 2001</p></div>-->
<!--      </div>-->
<!--      <div class="row m-0">-->
<!--        <div class="col-2 pt-2"><h6>Phone:</h6></div>-->
<!--        <div class="col"><p>1300 363 992</p></div>-->
<!--      </div>-->
<!--      <div class="row m-0">-->
<!--        <div class="col-2 pt-2"><h6>Email:</h6></div>-->
<!--        <div class="col"><p>enquiries@oaic.gov.au</p></div>-->
<!--      </div>-->
<!--      <div class="row m-0">-->
<!--        <div class="col-2 pt-1"><h6>Web:</h6></div>-->
<!--        <div class="col pt-1"><a href="https://www.oaic.gov.au" target="_blank">www.oaic.gov.au</a></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <h6>Notification of Changes</h6>-->
<!--    </div>-->
<!--    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">-->
<!--      <p>-->
<!--        If Co<sub>2</sub>efficient makes changes to this privacy policy we will post those changes to this page so You-->
<!--        are always-->
<!--        aware of what information we collect and how we use it.-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <hr>-->
<!--  <p> This Privacy Statement was last updated in August 2021.</p>-->
<!--</div>-->
