.pl-257 {
  padding-left: 120px !important;
}

@media only screen and (max-width: 1500px) {
  .pl-257 {
    padding-left: 58px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .pl-257 {
    padding-left: 20px !important;
  }
}
