/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Importing Variables file. */
@import "scss/variables";

/* Importing Theme file. */
@import "scss/theme";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "scss/media/home-media";

html {
  width: fit-content;
}

.bg-dark-blue {
  background: var(--cgsm-dark-blue);
  color: var(--cgsm-white);
}

.bg-dark {
  background: var(--cgsm-light-green) !important;

}

//BUTTONS STYLE
.btn:active:focus {
  border: none !important;
}

.btn-tr {
  background: transparent;
  font-family: 'PoppinsMedium';
}

.btn-light {
  background: #1B3C36 !important;
  border-radius: 50px !important;
  //margin-left: 15px;
  border: none !important;
  color: var(--cgsm-green) !important;
  font-family: 'PoppinsMedium';
}

//TEXT STYLE
.text-green {
  color: var(--cgsm-green) !important;
}

.text-white {
  color: var(--cgsm-white) !important;
}

.pl-140 {
  padding-left: 140px !important;
}

.modal-backdrop.show {
  opacity: 0 !important;
}

.modal-content {
  margin-top: 150px;
}

//MEDIA
@media only screen and (max-width: 1200px) {
  .pl-140 {
    padding-left: 30px !important;
  }
}
