//SIZES
h1 {
  font-size: 4.375rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.188rem;
}

h4 {
  font-size: 1.938rem;
}

h5 {
  font-size: 1.563rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1.125rem;
}

//FONTS
@font-face {
  font-family: "PoppinsRegular";
  src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("./fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PoppinsBold";
  src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("./fonts/Poppins-SemiBold.ttf");
}
