:root {
  --cgsm-green: #00B161;
  --cgsm-white: #FFFFFF;
  --cgsm-grey: #707070;
  --cgsm-orange: #F3BA2F;
  --cgsm-light-green: #03CA9B;
  --cgsm-dark-green: #0A686E;
  --cgsm-light-blue: #2483C7;
  --cgsm-dark-blue: #182029;
  --cgsm-green-blue: #6EFFED;
}
